<div>
    <h1>About Me</h1>
    <div>
      <%= image_tag("mypic.jpg", style: 'height:20%;width:20%;', :alt => "my picture") %>
    </div>
    <div class="about">
    <p>My name is <strong>Souleymane Dia</strong>. I am a <em>Software Developer</em> and <em>Web Developer</em>. I am currently working at <a href="https://www.jenparle.fr/">Res publica</a> as a <em>Software Engineer</em>. I have a <em>Bachelors Degree</em> in <em>Computer Science</em> from <a href="https://www.esilv.fr/">ESILV</a>. I have been working as a <em>Software Developer</em> for <em>2 years</em>. I have experience in <em>Java</em>, <em>Python</em>, <em>JavaScript</em>, <em>HTML</em>, <em>CSS</em>, <em>SQL</em> and <em>Node</em>. I am currently learning <em>Ruby on rails</em>. I am looking for a <em>Software Developer</em> position at a <em>tech company</em> in <em>Paris</em>. I am also looking for a <em>Web Developer</em> position at a <em>tech company</em> in <em>Paris</em>. I am also looking for a <em>Software Engineer</em> position at a <em>tech company</em> in <em>San Francisco</em>. I am also looking for a <em>Front End Developer</em> position at a <em>tech company</em> in <em>San Francisco</em>. I am also looking for a <em>Back End Developer</em> position at a <em>tech company</em> in <em>San Francisco</em>. I am also looking for a <em>Full Stack Developer</em> position at a <em>tech company</em>
</div>
</div>