  <div class="main">
        <div class="container">
          <h2>Hi, I'm Souleymane DIA</h2>
          <p>I'm a full-stack web developer</p>
          <%= link_to "View my Work", page_path, class: "btn btn-primary" %>     
        </div>
  </div>