body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header nav {
  text-align: center;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.header nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

.header nav ul li a:hover {
  color: #f00;
}

.container {
  margin-top: 50px;
}

.row {
  margin: 50px;
}

p a {
  text-decoration: none;
  color: red;
  font-size: 18px;
  font-weight: 300;
}

p a:hover {
  color: #23527c;
  text-decoration: none;
}

.main {
  background-image: url("https://img.freepik.com/photos-gratuite/vieux-fond-noir-texture-grunge-tableau-noir-tableau-noir-beton_1258-52289.jpg?w=1480&t=st=1669112591~exp=1669113191~hmac=0e82779c6abb669e187ef8c5550b714191d51071b94e0dfd504f07934789f9a9");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px 0;
  color: #fff;
}

.main h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main .btn {
  align-self: center;
  display: block;
  margin: 20px auto;
}

.card {
  background-color: #000;
  max-width: 300px;
  text-align: center;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.about {
  margin: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.footer {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.footer .container {
  text-align: center;
}

.footer .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .container ul li {
  display: inline-block;
  margin: 0 10px;
}

.footer .container ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

.footer .container ul li a:hover {
  color: #f00;
}

.footer .container p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
