body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header nav {
  text-align: center;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.header nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

.header nav ul li a:hover {
  color: #f00;
}

.main {
  background-image: url("https://img.freepik.com/photos-gratuite/composition-abstraite-lumiere-ultraviolette-uv_23-2149243976.jpg?w=1380&t=st=1669109231~exp=1669109831~hmac=9afe10b7ed314bf0d0e8e7e533e277a23a3b95e03569458aa008859a7adaf271");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px 0;
  color: #fff;
}

.main h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main .btn {
  align-self: center;
  display: block;
  margin: 20px auto;
}

.card {
  background-color: #000;
  max-width: 300px;
  text-align: center;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.about {
  margin: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.footer {
  background-color: #fff;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.footer .container {
  text-align: center;
}

.footer .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .container ul li {
  display: inline-block;
  margin: 0 10px;
}

.footer .container ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

.footer .container ul li a:hover {
  color: #f00;
}

.footer .container p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
